body {
    font-family: Arial, sans-serif;
    text-align: center;
}

div {
    margin-bottom: 20px;
    text-align: center;
}

#loginUsername,#loginPassword,#registerUsername,#registerPassword{
    width: 300px;
    height: 30px;
    text-align: center;
}

#logbtn,#regbtn{
    width: 100px;
    height: 30px;
}